<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%=locals.title || (locals.app ? locals.app.title : null) || 'Login.DfE'%></title>

    <link rel="stylesheet" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/css/govuk/fonts.css">
    <link rel="stylesheet" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/css/govuk/govuk-template.css">
    <link rel="stylesheet" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/css/screen.css">

    <link rel="shortcut icon" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/favicon.ico" type="image/x-icon" />

    <link rel="apple-touch-icon" sizes="180x180" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" href="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/apple-icon.png">

    <meta property="og:image" content="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/images/opengraph-image.png">

</head>
<body>

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to content</a>
    </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about
            cookies</a></p>
</div>

<div class="wrapper">

    <header id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="identity">Department for Education</div>
        </div>
    </header>

    <div class="header-user">
        <div class="header-inner">
            <div class="service-info">
                <div class="phase-banner-beta">
                    <p>
                        <strong class="phase-tag">BETA</strong>
                        <span>This is a new service – your <a href="#" target="_blank">feedback</a> will help us to improve it. </span>
                    </p>
                </div>
            </div>
            <% if (locals.user !== undefined) { %>
            <div class="account-information" role="navigation">
                <p class="signed-in-as"><span class="vh">You are signed in as</span> <%= locals.displayName %></p>
                <nav id="user-nav">
                    <ul role="menubar">
                        <li><a href="/profile" role="menuitem">Profile</a></li>
                        <li><a href="/signout" role="menuitem">Sign out</a></li>
                    </ul>
                </nav>
            </div>
            <% } %>
        </div>
    </div>


    <main id="content" tabindex="-1">
        <%- body %>
    </main>

</div>

<footer id="footer">
    <div class="footer-wrapper">
        <nav>
            <ul>
                <li><a href="/help">Help</a></li>
                <li><a href="cookies.html">Cookies</a></li>
                <li><a href="privacy.html">Privacy policy</a></li>
                <li><a href="/terms">Terms and conditions</a></li>
                <li><a href="/help">Need help using this service?</a></li>
            </ul>
        </nav>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://rawgit.com/DFE-Digital/dfe.ui.toolkit/master/dist/javascript/app.js"></script>

</body>
</html>