{
  "extends": "airbnb-base",
  "rules": {
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "strict": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "max-len": 0
  },
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
