; ---------------------------------------------------------------------------------------
; IMPORTANT NOTICE:
; ---------------------------------------------------------------------------------------
;
; DO NOT make any changes to this file without consulting with the technical lead or
; technical architect first.
;
; Secrets are needed in order to install packages from the Azure Artifact registry.
; These secrets can be placed in your per-user .npmrc file ($HOME/.npmrc). For further
; information refer to the npm documentation:
;
;   https://docs.npmjs.com/cli/v9/configuring-npm/npmrc#per-user-config-file
;

; Configure project to use the Azure Artifact registry instead of the default registry.
registry=https://dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/
always-auth=true

;
; DO NOT put secrets into this .npmrc file.
;
