registry=https://sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/
always-auth=true

; begin auth token
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:_password=cmt3dmRiZGFqem9lYXNwcjZtYmt5dzYzZWxkaDRmdXliaGVrZnByaXdwbnl4eGlsN3gzYQ==
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:email=adam.mccartney@education.gov.uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:_password=cmt3dmRiZGFqem9lYXNwcjZtYmt5dzYzZWxkaDRmdXliaGVrZnByaXdwbnl4eGlsN3gzYQ==
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:email=adam.mccartney@gov.uk
; end auth token
